<h1>This is Home Now</h1>

<div class="homepage-links">
  <h4 class="passengers">Passengers:</h4>
  <%= link_to 'See All Passengers', passengers_path %>
  <br>
  <%= link_to 'Add New Passenger', new_passenger_path  %>
  <br>
  <h4 class="drivers">Drivers:</h4>
  <%= link_to 'See All Drivers', drivers_path %>
  <br>
  <%= link_to 'Add New Driver', new_driver_path %>
</div>

