<h3>Passengers:</h3>
<ul>
  <% if @passengers.length > 0 %>
  <% @passengers.each do |passenger|  %>
    <li>
      <%= passenger.name %>
    </li>
    <% end %>
  <% else %>
    No passengers
  <% end %>
</ul>