<h1>Driver Details</h1>

  <div class="driver">
    <ul>
      <li>
        <%= @driver.ride_id %>
        <%= @driver.name %>
        <%= @driver.vin %>
        <%= @driver.available %>
      </li>
    </ul>
  </div>