/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

/* Custom bootstrap variables must be set or imported *before* bootstrap. */
@import "bootstrap";

@import "**/*";

header h1 {
  display: flex;
  justify-content: center;
  position: static;
  text-align: center;
  margin: auto;
  padding: .5em;
}
body {
  position: static;
  padding: auto;
  background-color: #a3a5cf;
  margin-left: 5%;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .5em;
  position: static;
  align-content: center;
  color: black;

}

.nav-buttons {
  color: #363738;
  padding: .5em;
  //text-decoration: none;
}

.nav-buttons:hover {
  color: black;
  text-decoration: none;

}

footer {
  position: relative;
  //width: 100%;
  bottom: 0;
  border-top: 1px solid #8AC007;
}



